@charset "UTF-8";
.breadcrumb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F8F3F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.breadcrumb .page-title {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumb_links {
  list-style: none;
  display: flex;
}
.breadcrumb_links .decorator:not(:last-child)::after {
  content: "  /  ";
}
.breadcrumb_links .decorator:last-child a {
  color: #F16D7F;
  font-weight: bold;
}
.breadcrumb_links a {
  font-size: 14px;
  font-style: normal;
  font-weight: light;
  line-height: normal;
}
.breadcrumb_links a:link, .breadcrumb_links a:visited {
  color: #636363;
}